In [2]:
#tuple
tp='a','q',1,3
print(tp,type(tp))

('a', 'q', 1, 3) <class 'tuple'>

In [3]:
#tuple itaration
tp='a','q',1,3
for t in tp:
    print(t)

a
q
1
3

In [9]:
#tuple comparision
t1=1,2,3
t2=1,2,3
if t1==t2:
    print("same taple")

same taple

In [11]:
#Immutable.
#you can't change a value from tuble but you can change entire tuple .
t1=1,3,4
t1[1]='bill'
print(t1)

TypeError: 'tuple' object does not support item assignment

In [12]:
l=1,2,3
x,y,z=l
print(x,y,z,sep="|")

1|2|3

In [4]:
#dictionary
dict={}
dict['name']='kamrul'
dict['age']=55
print(dict['name'],'|',dict['age'])

kamrul | 55

In [6]:
#dictionary syntex

dict={'azad': '01782596000','kamrul':'01632958383'}
print(dict['azad'])
print(dict['kamrul'])
print(len(dict))

01782596000
01632958383
2

In [8]:
#modification dictionary 
price_product={'rice':'55','fish':'102'}
print(price_product)
price_product['oil']='90'
print(price_product)

{'rice': '55', 'fish': '102'}
{'rice': '55', 'fish': '102', 'oil': '90'}

In [9]:
#delete item from dictionary 
price_product={'rice':'55','fish':'102'}
print(price_product)
del price_product['fish']
print(price_product)

{'rice': '55', 'fish': '102'}
{'rice': '55'}

In [17]:
product_price={'rice':'55','fish':'120','meat':'500','oil':'90'}
for key,value  in product_price.items():
    print(key,value,sep='=')
    
    
#print(product_price['rice'])

rice=55
fish=120
meat=500
oil=90

In [22]:
#sorting dictionary
product_price={'rice':'55','fish':'120','meat':'500','oil':'90'}
print(product_price)
for key in sorted(product_price.keys()):
    print(key, product_price[key],sep="->")

{'rice': '55', 'fish': '120', 'meat': '500', 'oil': '90'}
fish->120
meat->500
oil->90
rice->55